Repository suxxes/zed-claude-code, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, config, dependencies, ci/cd, build

.github/labeler.yml:

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.*'
      - 'vitest.config.ts'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.json'
      - '*.yaml'
      - '.github/workflows/**'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.editorconfig'
      - 'biome.json'
      - 'vitest.config.ts'

# Build/tooling changes
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'esbuild.config.mts'
      - '.editorconfig'
      - 'biome.json'
      - 'tsconfig.json'

docs: update documentation to reflect current project status
  CHANGELOG.md
  README.md
Labels: documentation

fix(ci): handle existing GitHub releases in workflow
  .github/workflows/release.yml
  CHANGELOG.md
Labels: documentation, config, ci/cd

fix(ci): correct glob pattern for dist files in release workflow
  .github/workflows/release.yml
  CHANGELOG.md
Labels: documentation, config, ci/cd

fix(ci): change release naming pattern
  .github/workflows/release.yml
Labels: config, ci/cd

fix: correct license field in package.json to Apache-2.0
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

refactor: improve error message clarity for missing sessions
  src/managers/mcp-server-manager.test.ts
  src/managers/mcp-server-manager.ts
Labels: source, tests

refactor: clean up unused code and improve escape sequence logic
  src/managers/sessions-manager.ts
  src/managers/tools-manager.ts
  src/tools/file-tools.ts
Labels: source

fix: correct tools use and reporting for files operations
  src/tools/file-tools.test.ts
  src/tools/file-tools.ts
Labels: source, tests

fix: correct error to string conversion to avoid [Object Object] in logs
  src/managers/mcp-server-manager.ts
Labels: source

fix: remove CacheManager to avoid files caching, move tools cache into ToolsManager
  src/core/acp-agent.test.ts
  src/core/acp-agent.ts
  src/managers/cache-manager.test.ts
  src/managers/cache-manager.ts
  src/managers/tools-manager.test.ts
  src/managers/tools-manager.ts
  src/tools/execution-tools.test.ts
  src/tools/execution-tools.ts
  src/tools/file-tools.test.ts
  src/tools/file-tools.ts
  src/tools/generic-tools.ts
  src/tools/notebook-tools.ts
  src/tools/planning-tools.ts
  src/tools/search-tools.test.ts
  src/tools/search-tools.ts
  src/tools/web-tools.ts
  src/transformers/claude-to-acp-transformer.test.ts
  src/transformers/claude-to-acp-transformer.ts
Labels: source, tests

fix: convert snake_case tools variables to camelCase to improve code quality persistence
  package-lock.json
  src/managers/mcp-server-manager.test.ts
  src/managers/mcp-server-manager.ts
  src/tools/file-tools.test.ts
  src/tools/file-tools.ts
Labels: source, tests, config, dependencies

fix: prevent text corruption in multi-edit operations
  src/managers/mcp-server-manager.test.ts
  src/managers/mcp-server-manager.ts
Labels: source, tests

docs: prepare version 1.1.0 release changelog
  CHANGELOG.md
Labels: documentation

refactor: extract URI formatting to shared utility and simplify tool titles
  src/tools/execution-tools.test.ts
  src/tools/execution-tools.ts
  src/tools/file-tools.test.ts
  src/tools/file-tools.ts
  src/tools/generic-tools.ts
  src/tools/notebook-tools.ts
  src/tools/planning-tools.ts
  src/tools/search-tools.test.ts
  src/tools/search-tools.ts
  src/tools/web-tools.ts
  src/transformers/acp-to-claude-transformer.test.ts
  src/transformers/acp-to-claude-transformer.ts
  src/utils/string.test.ts
  src/utils/string.ts
Labels: source, tests

docs: update CHANGELOG with unreleased refactoring changes
  CHANGELOG.md
Labels: documentation

Add MseeP.ai badge to README.md
  README.md
Labels: documentation

chore: update LICENSE format and add README badges
  LICENSE
  README.md
Labels: documentation

feat: add terminal support for MCP server integration
  esbuild.config.mts
  package-lock.json
  package.json
  src/core/acp-agent.ts
  src/core/http-server.ts
  src/managers/mcp-server-manager.test.ts
  src/managers/mcp-server-manager.ts
  src/managers/sessions-manager.ts
  src/managers/terminals-manager.test.ts
  src/managers/terminals-manager.ts
  src/managers/tools-manager.test.ts
  src/managers/tools-manager.ts
  src/tools/execution-tools.test.ts
  src/tools/execution-tools.ts
  src/tools/terminal-tools.test.ts
  src/tools/terminal-tools.ts
  src/transformers/claude-to-acp-transformer.test.ts
  src/transformers/claude-to-acp-transformer.ts
Labels: source, tests, config, dependencies, build

chore: bump version to 1.2.0 and update changelog
  CHANGELOG.md
Labels: documentation
